.navbar-background {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: flex-end;
  justify-content: flex-start;
  background-color: #191414;
  /* background-image: linear-gradient(white 0%, #1db954);
  color: rgb(246, 248, 250); */
  /* height: 100vh; */
}
.ul {
  display: inline;
}
.spotify-icon {
  font-size: 2rem;
  color: white;
}

@media screen and (max-width: 500px) {
  .spotify-icon {
    font-size: 1.5rem;
  }
  .title {
    /* width: 19rem; */
    font-size: 1rem;
    letter-spacing: 1px;
  }
  .nav-links {
    font-size: 0.5rem;
    letter-spacing: 1px;
  }
  .nav-item {
    margin-left: 1rem;
    color: #f0ad4e;
  }
  .login {
    color: #f0ad4e;
  }
}
