.navbar-background {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: flex-end;
  justify-content: flex-start;
  background-color: #191414;
}
.ul {
  display: inline;
}
.spotify-icon {
  font-size: 2rem;
  color: white;
}

@media screen and (max-width: 500px) {
  .spotify-icon {
    font-size: 1.5rem;
  }
  .title {
    font-size: 1rem;
    letter-spacing: 1px;
  }
  .nav-links {
    font-size: 0.5rem;
    letter-spacing: 1px;
  }
  .nav-item {
    margin-left: 1rem;
    color: #f0ad4e;
  }
  .login {
    color: #f0ad4e;
  }
}
